/* .home_container {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 4em;
}

/* .home_container h1, .home_container p{
    margin-bottom: 20px;
}

.home_container h1{
    font-weight: normal;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/
/* 
.home_container p{
 margin-bottom: 1.5em;
} 

.img_fundo {
  width: 950px;
  margin: 2em 0;
}  */